#dropFileForm {
   margin: 16px;
   text-align: center;
   border-radius: 8px;
   overflow: hidden;
   transition: 0.5s;
 }
 
 #dropFileForm #fileLabel {
   background-color: rgba(0, 255, 0, 0.5);
   display: block;
   padding: 16px;
   position: relative;
   cursor: pointer;
 }
 
 #dropFileForm #fileInput {
   display: none;
 }
 
 #dropFileForm #fileLabel:after,
 #dropFileForm #fileLabel:before {
   position: absolute;
   content: "";
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background-color: #fff;
   z-index: -2;
   border-radius: 8px 8px 0 0;
 }
 
 #dropFileForm #fileLabel:before {
   z-index: -1;
   background: repeating-linear-gradient(
     45deg,
     transparent,
     transparent 5%,
     black 5%,
     black 10%
   );
   opacity: 0;
   transition: 0.5s;
 }
 
 #dropFileForm.fileHover #fileLabel:before {
   opacity: 0.25;
 }
 
 #dropFileForm .uploadButton {
   border: 0;
   outline: 0;
   width: 100%;
   padding: 8px;
   background-color: limeGreen;
   color: #fff;
   cursor: pointer;
 }
 
 #dropFileForm.fileHover {
   box-shadow: 0 0 16px limeGreen;
 }

#drop_zone {
   border: 5px solid blue;
   width:  200px;
   height: 100px;
 }
 