* {
    font-variant: small-caps;
    /*border: 1px solid white;*/
}
body{
    width: 100%;
    background-image: url(../img/bg.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-color: black;
    background-size: cover;
}

.centered {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
}

.card {
    margin-top: 1em;
}

.person-card {
    margin-top: 5em;
    padding-top: 5em;
}
.person-card .card-title{
    text-align: center;
}
.person-card .person-img{
    width: 10em;
    position: absolute;
    top: -5em;
    left: 50%;
    margin-left: -5em;
    border-radius: 100%;
    overflow: hidden;

}

.btn_container{
    display: inline-block;
}
